<%= form_for(gpa) do |f| %>
  <% if gpa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gpa.errors.count, "error") %> prohibited this gpa from being saved:</h2>

      <ul>
      <% gpa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
