

<h1>Gpas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gpas.each do |gpa| %>
      <tr>
        <td><%= link_to 'Show', gpa %></td>
        <td><%= link_to 'Edit', edit_gpa_path(gpa) %></td>
        <td><%= link_to 'Destroy', gpa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gpa', new_gpa_path %>
