


<div class="main">
	<h1> welcome to term project </h1>

  <h1>DBDBDBDBDBDBDBDBB<h1>
  <h1>deadline: 01/05/60</h1>
  <div class="countdown">
		<div class="counter">
			<h1><%= @day_left %> </h1>
		</div>
		<div class="counter">
			<h1><%= @hour_left %> </h1>
		</div>
		<div class="counter">
			<h1><%= @min_left %> </h1>
		</div>
		<br>
		<div class="counter">
			<h2>Days</h2>
		</div>
		<div class="counter">
			<h2>Hours</h2>
		</div>
		<div class="counter">
			<h2>Mins </h2>
		</div>
	</div>

</div>

