<h1>Editing Student</h1>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@student) do |f| %>
      <%= render 'form', student: @student, curriculums: @curriculums %>
      <button type="submit" class="waves-effect waves-green btn" style="float:right;">Update</button>
    <% end %>
  </div>
</div>


<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
