<div class="row">
  <div class="input-field col s6">
    <input id="id" name="group[id]" type="text" class="validate" value="<%= group.id %>">
    <label for="id" class="active">Id</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <input id="name" name="group[name]" type="text" class="validate" value="<%= group.name %>">
    <label for="name" class="active">Name</label>
  </div>
</div>
