<% provide(:title, "Edit group") %>
<h4>Update group</h4>
<hr><br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@group) do |f| %>
      <%= render 'form', group: @group %>
      <button type="submit" class="waves-effect waves-green btn" style="float:right;">Update</button>
    <% end %>
  </div>
</div>

<%= link_to 'Back', groups_path %>
