<div class="row">
  <div class="input-field col s6">
    <input id="id" name="department[id]" type="text" class="validate" value="<%= department.id %>">
    <label for="id" class="active">Code</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <input id="name" name="department[name]" type="text" class="validate" value="<%= department.name %>">
    <label for="name" class="active">Name</label>
  </div>
</div>
