
<div id="modal-add" class="modal modal-fixed-footer modal-fixed-header">
  <%= form_for(:department) do |f| %>
    <div class="modal-header">
      <h5>Add department</h5>
    </div>
    <div class="modal-content">
      <%= render 'form', department: Department.new %>
    </div>
    <div class="modal-footer">
      <button type="submit" class="waves-effect waves-green btn-flat">Add</button>
      <a class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
  <% end %>
</div>

<div class="fixed-action-btn horizontal">
  <a data-target="modal-add" class="btn btn-floating btn-large waves-effect waves-light red">
    <i class="material-icons">add</i>
  </a>
</div>
