
<h5> <%= "Department: " + @department.name + "(" + @department.id.to_s + ")" %></h5>
<hr>
<div class="row">
  <div class="col s12 m8 l8">
    <div class="card">
      sxsxsxsxs<br>
      sxsaxasxas<br>
      xasx<br>
      asx<br>
      as<br>
      xsa<br>
      x
    </div>
  </div>
  <div class="col s12 m8 l4">
    <div class="card">
      sxsxsxsxsx
    </div>
  </div>
</div>

<div class="row">
  <div class="col s6 m6 l3">
    <div class="card">
      sxsxsxs
    </div>
  </div>
  <div class="col s6 m6 l3">
    <div class="card">
      sxsxsxs
    </div>
  </div>
  <div class="col s6 m6 l3">
    <div class="card">
      sxsxsxs
    </div>
  </div>
  <div class="col s6 m6 l3">
    <div class="card">
      sxsxsxs
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>


<script>
  $(function(){

  });
</script>
