
<h5>Event Info : <%= @event.id %></h5>
<hr>

<%= form_for(:event, url: "/event_pdf") do |f| %>
  <div class="row">
    <input type="text" name="id" value="<%= @event.id %>" hidden />
    <button class="btn waves-effect waves-light" type="submit" name="action" style="float:right;">
      Print
    </button>
  </div>
<% end %>
