<div class="row">
  <div class="input-field col s6">
    <input id="code"  type="text" class="validate" value="<%= enrollment.section.course.name %>" disabled>
    <label for="code" class="active">Course</label>
  </div>
  <div class="input-field col s6">
    <input id="name" type="text" class="validate" value="<%= enrollment.section.sec %>" disabled>
    <label for="name" class="active">Section</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s6">
    <input id="name" type="text" class="validate" value="<%= enrollment.student.id %>" disabled>
    <label for="name" class="active">Student</label>
  </div>
  <div class="input-field col s6">
    <input id="credit" name="enrollment[grade]" type="text" class="validate" required value="<%= enrollment.grade %>" placeholder="0, 0.5, 2, 4">
    <label for="credit" class="active">Grade</label>
  </div>
</div>
