<table id="list" class="bordered highlight" cellspacing="0" width="100%">
	<thead>
			<tr>
					<th>Name</th>
					<th>E-mail</th>
					<th>Gender</th>
					<th></th>
			</tr>
	</thead>
</table>


<script>
  $(function() {
      $('#list').DataTable({
				"pageLength": 15,
				"bLengthChange": false,
        "ajax": {
					"url": "/personnels.json",
					"dataSrc": ""
        },
        "deferRender": true,
				"columns": [
            { "render": function(data, type, row) {
								return (row['first_name'] || "") + " " + (row['last_name'] || "");
							}
						},
						{ "data": "email" },
						{ "data": "gender",
							"render": function(data) {
								var gen = (data || "");
								if(gen=="")
									return "";
								else
									return  gen == "M" ? "Male" : "Female";
							}
						},
						{
							"orderable": false,
							"render": function(data, type, row) {
								return "<a href='/personnels/" + row.id + "'><i class='material-icons'>description</i></a>&nbsp;&nbsp;&nbsp;"+
                 			 "<a href='/personnels/" + row.id + "/edit'><i class='material-icons'>build</i></a>&nbsp;&nbsp;&nbsp;"+
                			 "<a data-confirm='You sure?' rel='nofollow' data-method='delete' href='/personnels/" + row.id + "'><i class='material-icons'>delete</i></a>";
							}
						}
        ]
			});
  });
</script>
