<%= form_for(log_break) do |f| %>
  <% if log_break.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(log_break.errors.count, "error") %> prohibited this log_break from being saved:</h2>

      <ul>
      <% log_break.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
