
<div id="modal-add" class="modal modal-fixed-footer modal-fixed-header">
  <%= form_for(:personnel) do |f| %>
    <div class="modal-header">
      <h5>Add personnel</h5>
    </div>
    <div class="modal-content">
      <%= render 'form', personnel: Personnel.new %>
    </div>
    <div class="modal-footer">
      <button type="submit" class="waves-effect waves-green btn-flat">Add</button>
      <a class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
  <% end %>
</div>

<div class="fixed-action-btn horizontal">
  <a data-target="modal-add" class="btn btn-floating btn-large waves-effect waves-light red">
    <i class="material-icons">add</i>
  </a>
</div>

<script>
  $(function() {
      $('input.autocomplete').autocomplete({
        data: {
          <% departments.each do |dep| %>
            "<%= dep.name %>":null,
          <% end %>
        },
        limit: 10,
        onAutocomplete: function(val){
        },
        minLength: 1,
      });
  });
</script>
