<% provide(:title, "Edit profile") %>
<h5>Update your profile</h5>
<hr><br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@personnel) do |f| %>
      <%= render 'form', personnel: @personnel, departments: @departments %>
      <button type="submit" class="waves-effect waves-green btn" style="float:right;">Update</button>
    <% end %>
  </div>
</div>

<%= link_to 'Back', personnels_path %>
