
header, main, footer {
  padding-left: 300px;
}
.parallax-demo header,
.parallax-demo main,
.parallax-demo footer {
  padding-left: 0;
}
footer.example {
  padding-left: 0;
}

@media #{$medium-and-down} {
  header, main, footer {
    padding-left: 0;
  }
  h5 > span {
    display: block;
    margin: 0 0 15px 0;
  }

}

/********************
  Index Page Styles
********************/

// custom styled sidebar
ul.side-nav.fixed li.logo {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 80px;

  &:hover,
  #logo-container:hover {
    background-color: transparent;
  }
}
ul.side-nav.fixed {
  overflow: hidden;

  li {
    line-height: 44px;

    &.active {
      background-color: rgba(0,0,0,.05);
    }

    a {
      font-size: 13px;
      line-height: 44px;
      height: 44px;
      padding: 0 30px;
    }
  }

  ul.collapsible-accordion {
    background-color: #FFF;

    a.collapsible-header {
      padding: 0 30px;
    }

    .collapsible-body li a {
      font-weight: 400;
      padding: 0 37.5px 0 45px;
    }
  }

  // Only show scrollbar on hover
  &:hover {
    overflow-y: auto;
  }
}

.bold > a {
  font-weight: bold;
}

#logo-container {
  height: 57px;
  margin-bottom: 32px;
}

nav.top-nav {
  height: 122px;
  box-shadow: none;

  a.page-title {
    line-height: 122px;
    font-size: 48px;
  }
}
a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  left: 7.5%;
  top: 0;
  float: none;
  margin-left: 1.5rem;
  color: #fff;
  font-size: 36px;
  z-index: 2;

  &.full {
    line-height: 70px;
  }

  i {
    font-size: 32px;
  }
}

@media #{$small-and-down} {
  a.button-collapse.top-nav {
    left: 5%;
  }
}

@media #{$medium-and-down} {
  nav .nav-wrapper {
    text-align: center;

    a.page-title {
      font-size: 36px;
    }
  }
}

@media #{$large-and-up} {
  .container {
    width: 85%;
  }
}


#front-page-logo {
  display: inline-block;
  height: 100%;
  pointer-events: none;
}

@media only screen and (max-width: 992px) {
  #front-page-nav ul.side-nav {
    li {
      float: none;
      padding: 0 15px;

      &:hover { background-color: #ddd; }
      .active { background-color: transparent; }
    }
    a {
      color: #444;
    }
  }
}


#responsive-img {
  width: 80%;
  display:block;
  margin: 0 auto;
}

#index-banner {
  background-color: color("materialize-red", "lighten-2");
  .container {
    position: relative;
  }
  .header {
    color: #FFF;
  }
  h4 {
    margin-bottom: 40px;
  }
  h1 {
    margin-top: 16px;
  }
}
@media #{$medium-and-down} {
  #index-banner {
    h1 {
      margin-top: 60px;
    }
    h4 {
      margin-bottom: 15px;
    }
  }
}
@media #{$small-and-down} {
  #index-banner {
    h4 {
      margin-bottom: 0;
    }
  }
}
