<%= form_for(belong_to) do |f| %>
  <% if belong_to.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(belong_to.errors.count, "error") %> prohibited this belong_to from being saved:</h2>

      <ul>
      <% belong_to.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
