<div class="row">
  <div class="input-field col s6">
    <input id="id" name="rule[id]" type="text" class="validate" value="<%= rule.id %>">
    <label for="id" class="active">Id</label>
  </div>
  <div class="input-field col s6">
    <input id="score" name="rule[behavior_score_reduction]" type="number" class="validate" value="<%= rule.behavior_score_reduction %>">
    <label for="score" class="active">score reduce</label>
</div>
<div class="row">
  <div class="input-field col s12">
    <input id="detail" name="rule[rule_detail]" type="text" class="validate" value="<%= rule.id %>">
    <label for="detail" class="active">Rule</label>
  </div>
  </div>
</div>
