<footer class="footer">
  <small>
    The <a href="#">aa</a>
    by <a href="#">bb</a>
  </small>
  
  <nav>
    <ul>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
