<nav class="">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Organize-CU</a>
      <ul id="nav-mobile" class="right">
        <% if logged_in? %>
          <li class="dropdown">
            <a class="dropdown-button" data-activates="dropdown-menu">
              Account <b class="caret"></b>
            </a>
            <ul id="dropdown-menu" class="dropdown-content">
              <li><%= link_to "Profile", current_personnel %></li>
              <li><%= link_to "Settings", edit_personnel_path(current_personnel) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
