<ul id="slide-out" class="side-nav fixed">
  <li>
    <div class="userView">
      <div class="background">
        <img src="http://www.okclipart.com/img42/ttkwoptahhrqmhszqxhn.jpg"/>
      </div>
      <img class="circle" src="<%= image_path('person.png') %>" width="50" height="50">
      <span class="white-text name">
        test name
      </span>
      <span class="white-text email">
        test email
      </span>
    </div>
  </li>
  <li class="bold"><a class="waves-effect waves-teal" href="#!">Summary group</a></li>
  <li class="bold"><a class="waves-effect waves-teal"  href= <%= searchindiv_path %> >Summary individual</a></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li class="bold">
        <a class="collapsible-header waves-effect waves-teal">Manage data</a>
        <div class="collapsible-body">
          <ul>
            <li><a class="waves-effect waves-teal"  href="/personnels">Personnel</a></li>
            <li><a class="waves-effect waves-teal"  href="/students">Student</a></li>
            <li><a class="waves-effect waves-teal"  href="/departments">Department</a></li>
            <li><a class="waves-effect waves-teal"  href="/course">Course</a></li>
            <li><a class="waves-effect waves-teal"  href="/groups">Group</a></li>
            <li><a class="waves-effect waves-teal"  href="/rules">Rule</a></li>
            <li><a class="waves-effect waves-teal"  href="/leaves">Leave</a></li>
            <li><a class="waves-effect waves-teal"  href="/portfolios">Portfolio</a></li>
            <li><a class="waves-effect waves-teal"  href="/time_slots">Time slot</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
</ul>

